body {
    font-family: 'Roboto Mono',monospace;
    /*min-height: 400px;*/
    background-image: url(../img/bg-calculadora.jpg);
    /* background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p2/2289261-escola-educacao-padrao-padrao-educacao-simbolos-esboco-pano-de-fundo-com-material-escolar-de-volta-as-escola-icones-doodle-linha-arte-caderno-fundo-vetor.jpg'); */

    background-color: rgba(0, 0, 0, 0.7);
    /*background-color: #000000;*/
    background-size: cover;
    /* background-size: 80vh; */
    background-position: center bottom;
    background-repeat: no-repeat;
    background-blend-mode: darken;  
}
  
.container {
    text-align: center;
    padding: 10px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.page-title {
    color:#ffffff;
    /*color: #20212c;*/   
    /* color:#ffffff; */
    margin: 0 0 5px;
}

.page-subtitle {
    color:#ffffff;
    margin-top: 5px;
}

.page-logo {
    width: 150px;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.nome {
    width: 500px;
    height: auto;
    font-size: 20px;
    border: solid 3px rgba(255,255,255,0.6);
    border-radius: 10px;
    padding: 3px 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nome input {
    width: 300px;
    height: 25px;
    font-size: 25px;
    border-radius: 10px;
    padding-left: 10px;
    border: none;
    background-color: rgba(0,0,0,0.4);
    /*background-color: #8f9290;*/
    color: #20212c;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.boxNotas {
    width: 650px;
    height: auto;
    background-color:rgba(192, 192, 192, 0.5);
    /*background-color: #c4c4c4;*/
    color:#ffffff;
    /*color: #20212c;*/
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.notas {
    width: 400px;
    height: auto;
    font-size: 20px;
    border: solid 3px rgba(255,255,255,0.6);
    /*border: solid 3px #20212c;*/
    border-radius: 10px;
    padding: 3px 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notas input {
    width: 150px;
    height: 28px;
    font-size: 25px;
    border-radius: 10px;
    padding-left: 20px;
    border: none;
    background-color: rgba(0,0,0,0.4);
    /*background-color: #8f9290;*/
    color:#ffffff;
    /*color: #20212c;*/
    cursor: pointer;
}

.btnMedia {
    width: 200px;
    height: 35px;
    font-size: 15px;
    border-radius: 10px;
    margin-top: 8px;
    border: none;
    background-color: rgba(0,0,0,0.8);
    /*background-color: #20212c;*/
    color:#ffffff;
    /*color: #20212c;*/
    cursor: pointer;
}

.btnMedia:hover {
    opacity: 0.8;
}

.resultado {
    width: 650px;
    height: auto;
    background-color:rgba(192, 192, 192, 0.5);
    /*background-color: #c4c4c4;*/
    color:#ffffff;
    /*color: #20212c;*/
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.nota {
    width: 150px;
    height: 40px;
    padding-bottom: 20px;
    font-size: 60px;
    border: solid 3px rgba(255,255,255,0.6);
    /*border: solid 3px #20212c;*/
    border-radius: 10px;
}

.classificacao {
    width: 640px;
    height: 30px;
    font-size: 25px;
    margin-top: 2px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.aprovacao {
    width: 595px;
    height: 30px;
    font-size: 20px;
    border: solid 3px rgba(255,255,255,0.6);
    /*border: solid 3px #20212c;*/
    color:#ffffff;
    /*color: #20212c;*/
    border-radius: 10px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    color: rgba(255,255,255,0.6);
    font-size: 15px;
    padding: 40px 0;
    text-align: center;
}